<div class="h-screen lg:flex absolute top-0 left-0 w-screen bg-blue-300">
  <div class="flex lg:w-4/5 justify-center py-10 items-start sm:items-center bg-white h-full px-4">
    <div class="w-full md:w-3/5 flex flex-col items-center justify-center space-y-8">
      <div class="p-10 max-w-lg bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700"
      style="box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.8);">

        <!-- Formulario Ingresar Aplicacion -->
        <form [formGroup]="userForm">

          <!-- Titulo Nombre de la Aplicacion-->
          <div class="w-full mt-0 h-auto flex items-center justify-center visible lg:visible">
            <a [routerLink]="['/']" class="block text-2xl font-bold text-blue-300">
              <b style="font-weight: lighter">{{ subTitleStart }}</b>{{ subTitleEnd }}
            </a>
          </div>

          <!-- Imagen Icono Movistar -->
          <div class="w-full mt-2 h-auto flex items-center justify-center visible ">
            <app-svg-importer classes="fill-blue-300 w-24 h-24" [iconName]="'movistar-icon'"></app-svg-importer>
          </div>

          <!-- Campo Usuario -->
          <div class="w-full mt-5">
            <div class="flex">
              <span class="inline-flex items-center px-3 text-md text-white bg-blue-300 border border-r-0 border-gray-300 rounded-l-md">
                <i class="fa-solid fa-user"></i>
              </span>
              <input type="text" class="input_global rounded-none rounded-r-lg"
                     placeholder="Usuario de red" id="nameUser" formControlName="nameUser" >
            </div>
            <div class="block mt-5"
                 *ngIf="getUser?.touched && getUser?.invalid">
              <p class="text-magenta-300">El Usuario es Obligatorio</p>
            </div>
          </div>

          <!-- Campo Contraseña -->
          <div class="w-full mt-5">
            <div class="flex">
              <span class="inline-flex items-center px-3 text-md text-white bg-blue-300 border border-r-0 border-gray-300 rounded-l-md">
                <i class="fa-solid fa-lock"></i>
              </span>
              <input type="password" class="input_global rounded-none rounded-r-lg"
                     placeholder="Contraseña" id="password" formControlName="password" autocomplete="off">
            </div>
            <div class="block mt-2"
                 *ngIf="getPassword?.invalid && getPassword?.touched">
              <p class="text-magenta-300">La Contraseña Es Obligatoria</p>
            </div>
          </div>

          <!-- Reinicio de Captcha -->
          <div class="w-full mt-5 mb-3 h-auto flex items-center justify-center visible lg:visible">
              <img class="button resetCaptcha" id="reset-addon" (click)="resetCaptcha()"
                   alt="" src="../../../assets/img/picCAPTCHA.png">
              <div style="border-style: none; margin-left: 1em;">
                <img [ngClass]="{ 'disabled': !isImageEnableCaptcha }" [src]="imageSource"
                     style="width: 120px;" alt="">
              </div>
          </div>

          <!-- Codigo validacion Captcha -->
          <div class="w-full mb-3 mt-3">
            <div class="flex">
              <span class="inline-flex items-center px-3 text-md text-white bg-blue-300 border border-r-0 border-gray-300 rounded-l-md">
                <i class="fa-solid fa-robot"></i>
              </span>
              <input type="text" class="input_global rounded-none rounded-r-lg"
                     placeholder="Ingrese el codigo" formControlName="codigo" required="required">
            </div>
            <div class="block mt-2"
                 *ngIf="getCodigo?.invalid && getCodigo?.touched">
              <p class="text-magenta-300">El Codigo es Obligatorio</p>
            </div>
          </div>

          <!-- Validacion de Sesion codigo CSRF -->
          <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />

          <!-- Boton Ingresar -->
          <div class="w-full mb-0 mt-6">
            <div class="inputBox">
              <input type="submit" value="Ingresar" class="btn_primary_global" (click)="onSubmitDataUser()" [disabled]="!userForm.valid">
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
